Repository elastic/terraform-provider-elasticstack, pull requests merged in 2022-02, with the labels that each got.

#54 Update only changed index settings
  CHANGELOG.md
  docs/resources/elasticsearch_index.md
  examples/resources/elasticstack_elasticsearch_index/resource.tf
  internal/elasticsearch/index/index.go
Labels: bug, Elasticsearch

#55 Support import of the index settings
  CHANGELOG.md
  docs/resources/elasticsearch_index.md
  examples/resources/elasticstack_elasticsearch_index/import.sh
  internal/elasticsearch/index/index.go
  templates/resources/elasticsearch_index.md.tmpl
Labels: bug, Elasticsearch

#60 Fix issue with `allocate` action for ILM
  CHANGELOG.md
  docs/resources/elasticsearch_index_lifecycle.md
  examples/resources/elasticstack_elasticsearch_index_lifecycle/resource.tf
  internal/clients/index.go
  internal/elasticsearch/index/ilm.go
  internal/elasticsearch/index/ilm_test.go
Labels: bug, Elasticsearch

#57 Add new resource to manage ingest pipelines
  CHANGELOG.md
  docs/resources/elasticsearch_ingest_pipeline.md
  examples/resources/elasticstack_elasticsearch_ingest_pipeline/import.sh
  examples/resources/elasticstack_elasticsearch_ingest_pipeline/resource.tf
  internal/clients/index.go
  internal/elasticsearch/ingest/pipeline.go
  internal/elasticsearch/ingest/pipeline_test.go
  internal/models/models.go
  internal/provider/provider.go
  templates/resources/elasticsearch_ingest_pipeline.md.tmpl
Labels: enhancement, Elasticsearch

#39 Add component template resource
  CHANGELOG.md
  docs/resources/elasticsearch_component_template.md
  examples/resources/elasticstack_elasticsearch_component_template/import.sh
  examples/resources/elasticstack_elasticsearch_component_template/resource.tf
  internal/clients/index.go
  internal/elasticsearch/index/component_template.go
  internal/elasticsearch/index/component_template_test.go
  internal/models/models.go
  internal/provider/provider.go
  templates/resources/elasticsearch_component_template.md.tmpl
Labels: enhancement, Elasticsearch

#68 Send only set values to ES api
  CHANGELOG.md
  docs/resources/elasticsearch_security_user.md
  internal/elasticsearch/security/user.go
  internal/models/models.go
Labels: bug, Elasticsearch

#72 Bump provider support to ES version `8.x`
  .ci/Makefile.ci
  CHANGELOG.md
  docs/resources/elasticsearch_cluster_settings.md
  docs/resources/elasticsearch_index_template.md
  examples/resources/elasticstack_elasticsearch_cluster_settings/resource.tf
  internal/elasticsearch/cluster/settings_test.go
  internal/elasticsearch/index/template.go
  internal/elasticsearch/index/template_test.go
  internal/models/models.go
Labels: bug, enhancement, Elasticsearch

#74 Data sources: return error if the requested resource not found
  internal/clients/cluster.go
  internal/clients/security.go
Labels: bug, Elasticsearch

#77 Fix the guide to make it work with the current provider version
  docs/guides/elasticstack-and-cloud.md
  examples/cloud/provider.tf
  templates/guides/elasticstack-and-cloud.md.tmpl
Labels: documentation

#79 Fix spelling in index alias model
  CHANGELOG.md
  internal/models/models.go
Labels: bug, Elasticsearch

#81 Properly handle number_of_replicas in allocate action in ILM
  CHANGELOG.md
  docs/resources/elasticsearch_index_lifecycle.md
  examples/resources/elasticstack_elasticsearch_index_lifecycle/resource.tf
  internal/elasticsearch/index/ilm.go
  internal/elasticsearch/index/ilm_test.go
Labels: bug, Elasticsearch
